.welcome {
	width: 100%;
	max-width: 650px;
	text-align: center;
	line-height: 28px;
	font-size: 18px;
	color: var(--white);

	@media (max-width: 450px) {
		max-width: 100%;
		font-size: 16px;
		line-height: 25px;
	}

	span {
		color: var(--orange);
		text-shadow: 0px 0px 10px var(--orange);
		cursor: pointer;
		transition: all 0.4s;

		&:hover {
			font-size: 26px;
		}
	}
}
